<div style="margin-top: 80px;">
  <div id="container" class="well" style="margin:0 auto; width: 800px; height: 600px;">
    <div style="margin-top: 100px; margin-left: 300px;">
      <h1>Register</h1>
      <form action="/interviewees" method="post">
        <label>First Name</label>
        <input type="text" name="interviewee[first_name]">
        <label>Last Name</label>
        <input type="text" name="interviewee[last_name">
        <label>Email</label>
        <input type="text" name="interviewee[email]">
        </br></br>
        <input class="btn" type="submit" value="Signup">
      </form>
      <div style="font: red;">
          <% if flash[:error] %>
            <h3 class="error"><%= flash[:error].full_messages.collect {|error| '-' + error}.join("\t") %></h3>
          <% end %>
      </div>
    </div>
  </div>
</div>