<div id="container" style="margin-left: 40px; margin-top: 40px; margin-right: 100px;">
      <div style="font-size: 28px;">
        <strong>Scheduled Interviews</strong>
        <div style="margin-left:200px; font-size: 18px; float:right;"><strong>Type to Filter:</strong>  <input style="line-height: 30px;" ng-model="interview"></div>
      </div>
      <div style="overflow-y: scroll; margin-top: 30px;">
      <table class="table">
        <thead>
          <tr>
            <th>Room</th>
            <th>Scheduled Time</th>
            <th>Interviewee</th>
            <% if admin? && !manager? %>
              <th>Unassign</th>
            <% end %>
          </tr>
        </thead>
        <tbody ng-controller="ClosedInterviewsCntrl">
            <tr ng-repeat="i in interviews|filter:interview">
              <td>{{i.room}}</td>
              <td>{{ i.scheduled_at }}</td>
              <td>{{ i.interviewee_first_name }} {{ i.interviewee_last_name }}</td>
              <% if admin? && !manager?%>
                <td><button class="btn" ng-click="unassign($index)">Unassign</button></td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>