<div style="margin-top: 80px;">
<div class="well" style="margin: 0 auto; width: 1000px; height: 800px;">
  <div style="margin-top: 80px; margin-left: 70px;">
    <div style="margin-left: 25%; margin-top: 25%;">
      <a href="/interviewees/new"><h1>I need an interview.</h1></a>
      <a href="/home/admin"><h1>I need to administrate.</h1></a>
    </div>
  </div>
</div>
</div>
