<div class="well" style="margin: 0 auto; width: 800px; height: 400px;">
  <div style="margin-top: 110px; margin-left: 100px;">
    <a href="/interviewees/new"><h1>I need an interview.</h1></a>
    <a href="/home/admin"><h1>I need to administrate.</h1></a>
  </div>
</div>
